<label class="{{this.CLASS_NAMES.ROOT}} {{this.mdcClassNames}} {{unless this.valid this.CLASS_NAMES.INVALID}} {{if this.fullwidth "mdc-textfield--fullwidth"}} {{if this.disabled this.CLASS_NAMES.DISABLED}} {{if this.value this.CLASS_NAMES.UPGRADED}} {{if this.multiline "mdc-textfield--multiline"}} {{if this.box "mdc-textfield--box"}}">
  {{#if this.multiline}}
    {{mdc-textfield/textarea
      value=this.value
      onfocus=(action "handle" "focus")
      onblur=(action "handle" "blur")
      oninput=(action "handleInput")
      onkeydown=(action "handle" "keydown")
      required=this.required
      disabled=this.disabled
      rows=this.rows
      cols=this.cols
    }}
  {{else}}
    {{mdc-textfield/input
      value=this.value
      onfocus=(action "handle" "focus")
      onblur=(action "handle" "blur")
      oninput=(action "handleInput")
      onkeydown=(action "handle" "keydown")
      required=this.required
      placeholder=(if this.label (if this.isFocused this.placeholder) this.placeholder)
      disabled=this.disabled
      readonly=this.readonly
      type=this.type
    }}
    {{#if this.box}}
      <div class="mdc-textfield__bottom-line"></div>
    {{/if}}
  {{/if}}
  {{#mdc-textfield/label class-names=this.labelClassnames}}
    {{@label}}
  {{/mdc-textfield/label}}
</label>
{{#mdc-textfield/helptext attribute-pairs=this.helpTextAttrs class-names=this.helptextClassnames}}
  {{@helptext}}
{{/mdc-textfield/helptext}}
