<input class="mdc-radio__native-control" onclick={{action "clicked"}} type="radio" id={{this.input-id}} name={{this.name}} onchange={{action "inputChanged"}} checked={{this.checked}}>
<div class="mdc-radio__background">
  <div class="mdc-radio__outer-circle"></div>
  <div class="mdc-radio__inner-circle"></div>
</div>
