<a href="https://github.com/secondstreet/ember-material-components-web/">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
       src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67"
       alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
</a>

{{#if isDemoVisible}}
  {{#freestyle-guide title="MDC-Ember Demos"}}
    {{#freestyle-section name="Repo info" as |section|}}
      <p class="shields">
        <a href="https://travis-ci.org/secondstreet/ember-material-components-web">
          <img alt="Travis branch" src="https://img.shields.io/travis/secondstreet/ember-material-components-web/master.svg" style="max-width:100%;">
        </a>
        <a href="https://www.npmjs.com/package/ember-material-components-web">
          <img alt="npm" src="https://img.shields.io/npm/dw/ember-material-components-web.svg" style="max-width:100%;">
        </a>
        <a href="https://www.npmjs.com/package/ember-material-components-web">
          <img alt="npm" src="https://img.shields.io/npm/v/ember-material-components-web.svg" style="max-width:100%;">
        </a>
        <a href="https://choosealicense.com/licenses/mit/">
          <img alt="npm" src="https://img.shields.io/npm/l/ember-material-components-web.svg" style="max-width:100%;">
        </a>
        <a href="https://github.com/secondstreet/ember-material-components-web/issues">
          <img alt="GitHub issues" src="https://img.shields.io/github/issues/secondstreet/ember-material-components-web.svg" style="max-width:100%;">
        </a>
        <a href="https://david-dm.org/secondstreet/ember-material-components-web?type=dev">
          <img src="https://img.shields.io/david/dev/secondstreet/ember-material-components-web.svg" alt="David" style="max-width:100%;">
        </a>
        <a href="https://david-dm.org/secondstreet/ember-material-components-web">
          <img src="https://img.shields.io/david/secondstreet/ember-material-components-web.svg" alt="David" style="max-width:100%;">
        </a>
      </p>
    {{/freestyle-section}}
    {{#freestyle-section name="Buttons" as |section|}}
      {{#freestyle-usage "flat" title="Flat Buttons"}}
        {{#mdc-button}}Standard Button{{/mdc-button}}
        {{#mdc-button disabled=true onclick=(action "alert" "Should not see this.")}}Disabled Button{{/mdc-button}}
        {{#mdc-button outlined=true}}Outlined Button{{/mdc-button}}
        {{#mdc-button onclick=(action "alert" "Action button clicked")}}Action Button{{/mdc-button}}
        <form class="tiny-form" onsubmit={{action "alert" "Form Submitted"}}>
          {{#mdc-button type="submit"}}Submit Button{{/mdc-button}}
        </form>
      {{/freestyle-usage}}
      {{#freestyle-usage "raised" title="Raised Buttons"}}
        {{#mdc-button raised=true}}Raised Button{{/mdc-button}}
      {{/freestyle-usage}}

      {{#freestyle-usage "unelevated" title="Unelevated Buttons"}}
        {{#mdc-button unelevated=true}}Unelevated Button{{/mdc-button}}
        {{#mdc-button unelevated=true compact=true}}Unelevated Compact Button{{/mdc-button}}
        {{#mdc-button unelevated=true dense=true}}Unelevated Dense Button{{/mdc-button}}
      {{/freestyle-usage}}
    {{/freestyle-section}}
    {{#freestyle-usage "icon" title="Icon Buttons"}}
      {{#freestyle-usage "icon" title="Icon Buttons"}}
        {{#mdc-button as |button|}}
          <i class="material-icons {{button.iconClass}}" aria-hidden="true">favorite</i>
          Icon With Text
        {{/mdc-button}}
        {{#mdc-button as |button|}}
          <i class="material-icons {{button.iconClass}}">alarm</i>
        {{/mdc-button}}
        {{#mdc-button as |button|}}
          <svg class="{{button.iconClass}}" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox=" 0 0 50 50" version="1.1" width="18px" height="18px">
            <g id="surface1">
              <path style=" " d="M 34.21875 5.46875 C 28.238281 5.46875 23.375 10.332031 23.375 16.3125 C 23.375 16.671875 23.464844 17.023438 23.5 17.375 C 16.105469 16.667969 9.566406 13.105469 5.125 7.65625 C 4.917969 7.394531 4.597656 7.253906 4.261719 7.277344 C 3.929688 7.300781 3.632813 7.492188 3.46875 7.78125 C 2.535156 9.386719 2 11.234375 2 13.21875 C 2 15.621094 2.859375 17.820313 4.1875 19.625 C 3.929688 19.511719 3.648438 19.449219 3.40625 19.3125 C 3.097656 19.148438 2.726563 19.15625 2.425781 19.335938 C 2.125 19.515625 1.941406 19.839844 1.9375 20.1875 L 1.9375 20.3125 C 1.9375 23.996094 3.84375 27.195313 6.65625 29.15625 C 6.625 29.152344 6.59375 29.164063 6.5625 29.15625 C 6.21875 29.097656 5.871094 29.21875 5.640625 29.480469 C 5.410156 29.742188 5.335938 30.105469 5.4375 30.4375 C 6.554688 33.910156 9.40625 36.5625 12.9375 37.53125 C 10.125 39.203125 6.863281 40.1875 3.34375 40.1875 C 2.582031 40.1875 1.851563 40.148438 1.125 40.0625 C 0.65625 40 0.207031 40.273438 0.0507813 40.71875 C -0.109375 41.164063 0.0664063 41.660156 0.46875 41.90625 C 4.980469 44.800781 10.335938 46.5 16.09375 46.5 C 25.425781 46.5 32.746094 42.601563 37.65625 37.03125 C 42.566406 31.460938 45.125 24.226563 45.125 17.46875 C 45.125 17.183594 45.101563 16.90625 45.09375 16.625 C 46.925781 15.222656 48.5625 13.578125 49.84375 11.65625 C 50.097656 11.285156 50.070313 10.789063 49.777344 10.445313 C 49.488281 10.101563 49 9.996094 48.59375 10.1875 C 48.078125 10.417969 47.476563 10.441406 46.9375 10.625 C 47.648438 9.675781 48.257813 8.652344 48.625 7.5 C 48.75 7.105469 48.613281 6.671875 48.289063 6.414063 C 47.964844 6.160156 47.511719 6.128906 47.15625 6.34375 C 45.449219 7.355469 43.558594 8.066406 41.5625 8.5 C 39.625 6.6875 37.074219 5.46875 34.21875 5.46875 Z M 34.21875 7.46875 C 36.769531 7.46875 39.074219 8.558594 40.6875 10.28125 C 40.929688 10.53125 41.285156 10.636719 41.625 10.5625 C 42.929688 10.304688 44.167969 9.925781 45.375 9.4375 C 44.679688 10.375 43.820313 11.175781 42.8125 11.78125 C 42.355469 12.003906 42.140625 12.53125 42.308594 13.011719 C 42.472656 13.488281 42.972656 13.765625 43.46875 13.65625 C 44.46875 13.535156 45.359375 13.128906 46.3125 12.875 C 45.457031 13.800781 44.519531 14.636719 43.5 15.375 C 43.222656 15.578125 43.070313 15.90625 43.09375 16.25 C 43.109375 16.65625 43.125 17.058594 43.125 17.46875 C 43.125 23.71875 40.726563 30.503906 36.15625 35.6875 C 31.585938 40.871094 24.875 44.5 16.09375 44.5 C 12.105469 44.5 8.339844 43.617188 4.9375 42.0625 C 9.15625 41.738281 13.046875 40.246094 16.1875 37.78125 C 16.515625 37.519531 16.644531 37.082031 16.511719 36.683594 C 16.378906 36.285156 16.011719 36.011719 15.59375 36 C 12.296875 35.941406 9.535156 34.023438 8.0625 31.3125 C 8.117188 31.3125 8.164063 31.3125 8.21875 31.3125 C 9.207031 31.3125 10.183594 31.1875 11.09375 30.9375 C 11.53125 30.808594 11.832031 30.402344 11.816406 29.945313 C 11.800781 29.488281 11.476563 29.097656 11.03125 29 C 7.472656 28.28125 4.804688 25.382813 4.1875 21.78125 C 5.195313 22.128906 6.226563 22.402344 7.34375 22.4375 C 7.800781 22.464844 8.214844 22.179688 8.355469 21.746094 C 8.496094 21.3125 8.324219 20.835938 7.9375 20.59375 C 5.5625 19.003906 4 16.296875 4 13.21875 C 4 12.078125 4.296875 11.03125 4.6875 10.03125 C 9.6875 15.519531 16.6875 19.164063 24.59375 19.5625 C 24.90625 19.578125 25.210938 19.449219 25.414063 19.210938 C 25.617188 18.96875 25.695313 18.648438 25.625 18.34375 C 25.472656 17.695313 25.375 17.007813 25.375 16.3125 C 25.375 11.414063 29.320313 7.46875 34.21875 7.46875 Z "/>
            </g>
          </svg>
          SVG Icon
        {{/mdc-button}}
      {{/freestyle-usage}}
    {{/freestyle-usage}}
    {{#freestyle-section name="Floating Action Buttons" as |section|}}
      {{#freestyle-usage "fab-bind" title="bind actions"}}

        {{#mdc-fab onclick=(action "alert" "Stop clicked") as |fab|}}
          <i class="material-icons {{iconClass}}">stop</i>
        {{/mdc-fab}}
      {{/freestyle-usage}}
      {{#freestyle-usage "fab-mini" title="Mini"}}
        {{#mdc-fab mini=true as |fab|}}
          <i class="material-icons {{iconClass}}">replay</i>
        {{/mdc-fab}}
      {{/freestyle-usage}}
      {{#freestyle-usage "fab-extended" title="Extended"}}
        {{#mdc-fab extended=true as |fab|}}
          <i class="material-icons {{iconClass}}">add</i>
          {{#fab.label}}Create{{/fab.label}}
        {{/mdc-fab}}
      {{/freestyle-usage}}
      {{#freestyle-usage "fab-extended" title="Extended (Text First)"}}
        {{#mdc-fab extended=true as |fab|}}
          {{#fab.label}}Create{{/fab.label}}
          <i class="material-icons {{iconClass}}">add</i>
        {{/mdc-fab}}
      {{/freestyle-usage}}
      {{#freestyle-usage "fab-extended" title="Extended (Without Icon)"}}
        {{#mdc-fab extended=true as |fab|}}
          {{#fab.label}}Create{{/fab.label}}
        {{/mdc-fab}}
      {{/freestyle-usage}}
      {{#freestyle-usage "fab-exited" title="Animated Exit"}}
        {{#mdc-fab exited=isFabExited as |fab|}}
          <i class="material-icons {{iconClass}}">add</i>
        {{/mdc-fab}}
        <button onclick={{action (mut isFabExited (not isFabExited))}}>{{if isFabExited "Un-exit" "Exit"}}</button>
      {{/freestyle-usage}}
    {{/freestyle-section}}
    {{#freestyle-section name="Checkboxes" as |section|}}
      {{#freestyle-usage "cbx-attributes" title="Attributes"}}
        <label>
          {{mdc-checkbox checked=isCheckboxOneChecked onchange=(action (mut isCheckboxOneChecked))}}
          Checkbox
        </label>
        <label>
          {{mdc-checkbox indeterminate=true disabled=true onchange=(action "alert" "Should not see this.")}}
          Disabled Indeterminate Checkbox
        </label>
        {{mdc-checkbox input-id="checkbox-for" checked=isCheckboxTwoChecked onchange=(action (mut isCheckboxTwoChecked))}}
        <label for="checkbox-for">Disassociated Label Checkbox</label>

      {{/freestyle-usage}}
      {{#freestyle-usage "cbx-bubbling" title="Action Bubbling/Event Propagation"}}
        <div class="test-action-bubbling" {{action "alert" "Stop the bubbling"}}>
          {{mdc-checkbox input-id="checkbox-for" checked=isCheckboxThreeChecked onchange=(action (mut isCheckboxThreeChecked)) bubbles=false}}
          <div>Checkbox event propagation is disableable: click outside of the checkbox to test</div>
        </div>
      {{/freestyle-usage}}
      {{#freestyle-usage "cbx-bindings" title="bindings"}}
        {{mdc-checkbox checked=isCheckBoxFourChecked}}
        <button {{action (toggle "isCheckBoxFourChecked" this)}}>Press to Toggle Checkbox</button>
      {{/freestyle-usage}}
    {{/freestyle-section}}
    {{#freestyle-section name="Radios" as |section|}}
      {{#freestyle-usage "radio" title="radios"}}
        <label>
          {{mdc-radio checked=isRadioOneChecked onchange=(action (mut isRadioOneChecked))}}
          Radio
        </label>
        <label>
          {{mdc-radio disabled=true onchange=(action "alert" "Should not see this.")}}
          Disabled Radio
        </label>
        {{mdc-radio input-id="radio-for" checked=isRadioTwoChecked onchange=(action (mut isRadioTwoChecked))}}
        <label for="radio-for">Disassociated Label Radio</label>
      {{/freestyle-usage}}
      {{#freestyle-usage "radio-group" title="radio Group"}}
        <fieldset>
          Radio group with shared <code>name</code> attribute:
          <label>
            {{mdc-radio name="radio-three" checked=isRadioThreeAChecked onchange=(action (mut isRadioThreeAChecked))}} A
          </label>
          <label>
            {{mdc-radio name="radio-three" checked=isRadioThreeBChecked onchange=(action (mut isRadioThreeBChecked))}} B
          </label>
          <label>
            {{mdc-radio name="radio-three" checked=isRadioThreeCChecked onchange=(action (mut isRadioThreeCChecked))}} C
          </label>
        </fieldset>

      {{/freestyle-usage}}
      {{#freestyle-usage "radio-binging" title="bindings"}}
        <div class="test-action-bubbling" {{action "alert" "Stop the bubbling"}}>
          {{mdc-radio checked=isRadioFourChecked onchange=(action (mut isRadioFourChecked)) bubbles=false}}
          <div>Radio button event propagation is disableable: click outside of the radio button to test</div>
        </div>
        {{mdc-radio checked=isRadioFiveChecked}}
        <button {{action (toggle "isRadioFiveChecked" this)}}>Press to Toggle Radio</button>
      {{/freestyle-usage}}
    {{/freestyle-section}}
    {{#freestyle-section name="Elevation" as |section|}}
      {{#freestyle-usage "elevation-1" title="z=1"}}
        {{#mdc-elevation z=1}}Elevation Depth 1{{/mdc-elevation}}
      {{/freestyle-usage}}
      {{#freestyle-usage "elevation-2" title="z=2"}}
        {{#mdc-elevation z=2}}Elevation Depth 2{{/mdc-elevation}}
      {{/freestyle-usage}}
      {{#freestyle-usage "elevation-3" title="z=3"}}
        {{#mdc-elevation z=3}}Elevation Depth 3{{/mdc-elevation}}
      {{/freestyle-usage}}
      {{#freestyle-usage "elevation-4" title="z=4"}}
        {{#mdc-elevation z=4}}Elevation Depth 4{{/mdc-elevation}}
      {{/freestyle-usage}}
      {{#freestyle-usage "elevation-5" title="z=5"}}
        {{#mdc-elevation z=5}}Elevation Depth 5{{/mdc-elevation}}
      {{/freestyle-usage}}
      {{#freestyle-usage "elevation-6" title="z=6"}}
        {{#mdc-elevation z=6}}Elevation Depth 6{{/mdc-elevation}}
      {{/freestyle-usage}}
      {{#freestyle-usage "elevation-7" title="z=7"}}
        {{#mdc-elevation z=7}}Elevation Depth 7{{/mdc-elevation}}
      {{/freestyle-usage}}
      {{#freestyle-usage "elevation-8" title="z=8"}}
        {{#mdc-elevation z=8}}Elevation Depth 8{{/mdc-elevation}}
      {{/freestyle-usage}}
      {{#freestyle-usage "elevation-9" title="z=9"}}
        {{#mdc-elevation z=9}}Elevation Depth 9{{/mdc-elevation}}
      {{/freestyle-usage}}
    {{/freestyle-section}}
    {{#freestyle-section name="Grid Lists" as |section|}}
      {{#freestyle-usage "gl-basic-usage" title="Basic Usage"}}
        {{#mdc-grid-list as |list|}}
          {{#list.tiles as |tiles|}}
            {{#tiles.tile as |tile|}}
              {{#tile.primary as |primary|}}
                {{primary.primary-content src="http://placekitten.com/g/200/250"}}
              {{/tile.primary}}
              {{#tile.secondary as |secondary|}}
                {{#secondary.title}}
                  Title
                {{/secondary.title}}
              {{/tile.secondary}}
            {{/tiles.tile}}
            {{#tiles.tile as |tile|}}
              {{#tile.primary as |primary|}}
                {{primary.primary-content src="http://placekitten.com/g/200/200"}}
              {{/tile.primary}}
              {{#tile.secondary as |secondary|}}
                {{#secondary.title}}
                  Title
                {{/secondary.title}}
              {{/tile.secondary}}
            {{/tiles.tile}}
          {{/list.tiles}}
        {{/mdc-grid-list}}
      {{/freestyle-usage}}
      {{#freestyle-usage "gl-secondary-content" title="Add support text to secondary content (caption)"}}
        {{#mdc-grid-list twoline-caption=true as |list|}}
          {{#list.tiles as |tiles|}}
            {{#tiles.tile as |tile|}}
              {{#tile.primary as |primary|}}
                {{primary.primary-content src="http://placekitten.com/g/200/250"}}
              {{/tile.primary}}
              {{#tile.secondary as |secondary|}}
                {{#secondary.title}}
                  Title
                {{/secondary.title}}
                {{#secondary.support-text}}
                  Support Text
                {{/secondary.support-text}}
              {{/tile.secondary}}
            {{/tiles.tile}}
          {{/list.tiles}}
        {{/mdc-grid-list}}
      {{/freestyle-usage}}
      {{#freestyle-usage "gl-secondary-content-icon" title="Add icon to secondary content (caption)"}}
        {{#mdc-grid-list icon-align="start" as |list|}}
          {{#list.tiles as |tiles|}}
            {{#tiles.tile as |tile|}}
              {{#tile.primary as |primary|}}
                {{primary.primary-content src="http://placekitten.com/g/200/250"}}
              {{/tile.primary}}
              {{#tile.secondary as |secondary|}}
                {{#secondary.icon as |class|}}
                  <i class="material-icons {{class}}">star_border</i>
                {{/secondary.icon}}
                {{#secondary.title}}
                  Title
                {{/secondary.title}}
              {{/tile.secondary}}
            {{/tiles.tile}}
          {{/list.tiles}}
        {{/mdc-grid-list}}
      {{/freestyle-usage}}
      {{#freestyle-usage "gl-tile-aspect" title="Change aspect ratio of tile"}}
        {{#mdc-grid-list tile-aspect="16x9" as |list|}}
          {{#list.tiles as |tiles|}}
            {{#tiles.tile as |tile|}}
              {{#tile.primary as |primary|}}
                {{primary.primary-content src="http://placekitten.com/g/200/250"}}
              {{/tile.primary}}
              {{#tile.secondary as |secondary|}}
                {{#secondary.title}}
                  16x9
                {{/secondary.title}}
              {{/tile.secondary}}
            {{/tiles.tile}}
          {{/list.tiles}}
        {{/mdc-grid-list}}
      {{/freestyle-usage}}
      {{#freestyle-usage "gl-div" title="Using a div in place of an img"}}
        <style>
          .my-tile-image {
            background-image: url('http://placekitten.com/g/200/250');
          }
        </style>
        {{#mdc-grid-list as |list|}}
          {{#list.tiles as |tiles|}}
            {{#tiles.tile as |tile|}}
              {{#tile.primary as |primary|}}
                {{primary.primary-content tagName="div" class="my-tile-image"}}
              {{/tile.primary}}
              {{#tile.secondary as |secondary|}}
                {{#secondary.title}}
                  Title
                {{/secondary.title}}
              {{/tile.secondary}}
            {{/tiles.tile}}
          {{/list.tiles}}
        {{/mdc-grid-list}}
      {{/freestyle-usage}}
    {{/freestyle-section}}
    {{#freestyle-section name="Text Fields" as |section|}}
      {{#freestyle-usage "txt-attrs" title="Attributes"}}
        {{mdc-text-field
          label="Box TextField"
          box=true
          value=textFieldBoxValue
          onchange=(action (mut textFieldBoxValue))
          type="text"
        }}

      {{/freestyle-usage}}
      {{#freestyle-usage "txt-fullwidth" title="event bindings"}}
        {{mdc-text-field
          label="Full width with on event actions"
          fullwidth=true
          value=fullWidthValue
          onchange=(action (mut fullWidthValue))
          onfocus=(action 'logToConsole' 'focus')
          onblur=(action 'logToConsole' 'blur')
          onkeydown=(action 'logToConsole' 'keydown')
          oninput=(action (pipe (action 'logToConsole' 'input')))
          helptext=(concat "Received event for: " (if eventType eventType 'not triggered yet'))
          helptext-persistent=true
          type="text"
        }}

      {{/freestyle-usage}}
      {{#freestyle-usage "txt-placeholder" title="placeholder"}}
        {{mdc-text-field
          label="Email Address"
          placeholder="something@example.com"
          value=textFieldOneValue
          onchange=(action (mut textFieldOneValue))
          type="email"
          helptext="This will not be sent to any server"
        }}
      {{/freestyle-usage}}
      {{#freestyle-usage "txt-validation" title="validation with message"}}
        {{mdc-text-field
          label="Recipient Email"
          value="bad@email@example.com"
          valid=false
          helptext="This does not look like a valid email address"
          helptext-validation-msg=true
        }}

      {{/freestyle-usage}}
      {{#freestyle-usage "txt-helptext" title="Helptext"}}
        {{mdc-text-field
          label="Subject"
          disabled=true
          value=textFieldThreeValue
          onchange=(action (mut textFieldThreeValue))
          helptext="This is persistent help text, and the field is disabled"
          helptext-persistent=true
        }}

      {{/freestyle-usage}}
      {{#freestyle-usage "txt-textarea" title="textarea"}}
        {{mdc-text-field
          label="Message Body"
          value=textFieldTwoValue
          onchange=(action (mut textFieldTwoValue))
          textarea=true
          rows=12
          cols=80
        }}
      {{/freestyle-usage}}
      {{#freestyle-usage "txt-textarea" title="textarea that looks like input"}}
        {{mdc-text-field
          label="Message Body"
          value=textFieldTwoValue
          fullwidth=true
          onchange=(action (mut textFieldTwoValue))
          textarea=true
          rows=3
          cols=80
        }}
      {{/freestyle-usage}}
    {{/freestyle-section}}
    {{#freestyle-section name="Layout Grids" as |section|}}
      {{#freestyle-usage "lg-column-spans" title="Column spans"}}
        {{#mdc-layout-grid as |grid|}}
          {{#grid.inner as |inner|}}
            {{#inner.cell span=6}}
              Span 6
            {{/inner.cell}}
            {{#inner.cell span=4}}
              Span 4
            {{/inner.cell}}
            {{#inner.cell span=2}}
              Span 2
            {{/inner.cell}}
          {{/grid.inner}}
        {{/mdc-layout-grid}}
      {{/freestyle-usage}}
      {{#freestyle-usage "lg-column-spans-specific" title="Column spans for specific screen sizes"}}
        {{#mdc-layout-grid as |grid|}}
          {{#grid.inner as |inner|}}
            {{#inner.cell span=6 span-tablet=8}}
              6 (8 tablet)
            {{/inner.cell}}
            {{#inner.cell span=4 span-tablet=6}}
              4 (6 tablet)
            {{/inner.cell}}
            {{#inner.cell span=2 span-phone=4}}
              2 (4 phone)
            {{/inner.cell}}
          {{/grid.inner}}
        {{/mdc-layout-grid}}
      {{/freestyle-usage}}
      {{#freestyle-usage "lg-cell-reordering" title="Cell reordering"}}
        {{#mdc-layout-grid as |grid|}}
          {{#grid.inner as |inner|}}
            {{#inner.cell order=3}}
              Cell 3
            {{/inner.cell}}
            {{#inner.cell order=1}}
              Cell 1
            {{/inner.cell}}
            {{#inner.cell order=2}}
              Cell 2
            {{/inner.cell}}
          {{/grid.inner}}
        {{/mdc-layout-grid}}
      {{/freestyle-usage}}
      {{#freestyle-usage "lg-cell-alignment" title="Cell alignment"}}
        {{#mdc-layout-grid as |grid|}}
          {{#grid.inner as |inner|}}
            {{#inner.cell align="top"}}
              Top aligned
            {{/inner.cell}}
            {{#inner.cell align="middle"}}
              Middle aligned
            {{/inner.cell}}
            {{#inner.cell align="bottom"}}
              Bottom aligned
            {{/inner.cell}}
          {{/grid.inner}}
        {{/mdc-layout-grid}}
      {{/freestyle-usage}}
      {{#freestyle-usage "lg-fixed-width-alignment" title="Fixed column width grid, alignment of grid"}}
        {{#mdc-layout-grid fixed-column-width=true align="left" as |grid|}}
          {{#grid.inner as |inner|}}
            {{#inner.cell}}
              ...
            {{/inner.cell}}
            {{#inner.cell}}
              ...
            {{/inner.cell}}
          {{/grid.inner}}
        {{/mdc-layout-grid}}
      {{/freestyle-usage}}
      {{#freestyle-usage "lg-nested-grid" title="Nested grid"}}
        {{#mdc-layout-grid as |grid|}}
          {{#grid.inner as |inner|}}
            {{#inner.cell}}
              {{#grid.inner as |inner2|}}
                {{#inner2.cell}}Second Level{{/inner2.cell}}
                {{#inner2.cell}}Second Level{{/inner2.cell}}
              {{/grid.inner}}
            {{/inner.cell}}
            {{#inner.cell}}First Level{{/inner.cell}}
            {{#inner.cell}}First Level{{/inner.cell}}
          {{/grid.inner}}
        {{/mdc-layout-grid}}
      {{/freestyle-usage}}
    {{/freestyle-section}}
    {{#freestyle-section name="Icon Toggles" as |section|}}
      {{#freestyle-usage 'icon-attrs' title="Attributes"}}
        TODO: The ripple looks odd here. <br/>
        {{#mdc-icon-toggle
          pressed=isFirstTogglePressed
          onchange=(action (mut isFirstTogglePressed))
          class="material-icons"
        }}
          {{#if isFirstTogglePressed}}
            star
          {{else}}
            star_border
          {{/if}}
        {{/mdc-icon-toggle}}
        {{#if isFirstTogglePressed}}
          Unstar it.
        {{else}}
          Star it!
        {{/if}}
      {{/freestyle-usage}}
      {{#freestyle-usage "icon-disabled" title="Disabled"}}
        {{#mdc-icon-toggle pressed=true disabled=true class="material-icons" onchange=(action "alert" "Should not see this.")}}
          star
        {{/mdc-icon-toggle}}
        Disabled.
      {{/freestyle-usage}}
    {{/freestyle-section}}
    {{#freestyle-section name="Lists" as |section|}}
      {{#section.subsection name="Single-Line List"}}

        {{#freestyle-usage "list-text" title="Text only"}}
          {{#mdc-list theme="dark" as |list|}}
            {{#list.item}}Single-line item{{/list.item}}
            {{#list.item}}Single-line item{{/list.item}}
            {{#list.item}}Single-line item{{/list.item}}
          {{/mdc-list}}
        {{/freestyle-usage}}
        {{#freestyle-usage "list-dense" title="Text only (dense)"}}

          {{#mdc-list dense=true as |list|}}
            {{#list.item}}Single-line item{{/list.item}}
            {{#list.item}}Single-line item{{/list.item}}
            {{#list.item}}Single-line item{{/list.item}}
          {{/mdc-list}}

        {{/freestyle-usage}}
        {{#freestyle-usage "list-graphic" title="Start Detail"}}
          {{#mdc-list as |list|}}
            {{#list.item as |item|}}
              {{#item.graphic as |class|}}
                <i class="material-icons {{class}}" aria-hidden="true">network_wifi</i>
              {{/item.graphic}}
              Wi-Fi
            {{/list.item}}
            {{#list.item as |item|}}
              {{#item.graphic as |class|}}
                <i class="material-icons {{class}}" aria-hidden="true">bluetooth</i>
              {{/item.graphic}}
              Bluetooth
            {{/list.item}}
            {{#list.item as |item|}}
              {{#item.graphic as |class|}}
                <i class="material-icons {{class}}" aria-hidden="true">data_usage</i>
              {{/item.graphic}}
              Data Usage
            {{/list.item}}
          {{/mdc-list}}

        {{/freestyle-usage}}
        {{#freestyle-usage "list-meta" title="End detail"}}
          {{#mdc-list as |list|}}
            {{#list.item as |item|}}
              Single-line item
              {{#item.meta as |class|}}
                <i class="material-icons {{class}}" aria-hidden="true">information</i>
              {{/item.meta}}
            {{/list.item}}
            {{#list.item as |item|}}
              Single-line item
              {{#item.meta as |class|}}
                <i class="material-icons {{class}}" aria-hidden="true">information</i>
              {{/item.meta}}
            {{/list.item}}
            {{#list.item as |item|}}
              Single-line item
              {{#item.meta as |class|}}
                <i class="material-icons {{class}}" aria-hidden="true">information</i>
              {{/item.meta}}
            {{/list.item}}
          {{/mdc-list}}

        {{/freestyle-usage}}
      {{/section.subsection}}

      {{#section.subsection name="Two Line List"}}

        {{#freestyle-usage "list-two-line-text" title="Text only"}}
          {{#mdc-list two-line=true as |list|}}
            {{#list.item as |item|}}
              {{#item.text as |text|}}
                {{#text.primary}}Two-line item{{/text.primary}}
                {{#text.secondary}}Secondary text{{/text.secondary}}
              {{/item.text}}
            {{/list.item}}
            {{#list.item as |item|}}
              {{#item.text as |text|}}
                {{#text.primary}}Two-line item{{/text.primary}}
                {{#text.secondary}}Secondary text{{/text.secondary}}
              {{/item.text}}
            {{/list.item}}
            {{#list.item as |item|}}
              {{#item.text as |text|}}
                {{#text.primary}}Two-line item{{/text.primary}}
                {{#text.secondary}}Secondary text{{/text.secondary}}
              {{/item.text}}
            {{/list.item}}
          {{/mdc-list}}

        {{/freestyle-usage}}
      {{/section.subsection}}
    {{/freestyle-section}}
    {{#freestyle-section name="Menu" as |section|}}
      {{#freestyle-usage "menu"}}
        {{#mdc-menu-anchor as |anchor|}}
          {{#mdc-icon-toggle class="material-icons" pressed=isMenuOneOpen onchange=(action (mut isMenuOneOpen))}}
            more_vert
          {{/mdc-icon-toggle}}
          {{#mdc-menu anchor=anchor open=isMenuOneOpen cancel=(action (queue (toggle "isMenuOneOpen" this) (action "alert" "Menu canceled"))) as |menu|}}
            {{#menu.item onclick=(action (queue (toggle "isMenuOneOpen" this) (action "alert" "Menu item one clicked!")))}}
              Menu Item One
            {{/menu.item}}
            {{#menu.item onclick=(action (queue (toggle "isMenuOneOpen" this) (action "alert" "Menu item two clicked!")))}}
              Menu Item Two
            {{/menu.item}}
            {{#menu.item onclick=(action (queue (toggle "isMenuOneOpen" this) (action "alert" "Menu item three clicked!")))}}
              Menu Item Three
            {{/menu.item}}
          {{/mdc-menu}}
        {{/mdc-menu-anchor}}
      {{/freestyle-usage}}
    {{/freestyle-section}}
    {{#freestyle-section name="Drawers" as |section|}}
      {{#section.subsection name="Permanent Drawers"}}
        {{#freestyle-usage "permanent-drawer-above"}}
          <div class="component-doc flexible">
            {{#mdc-drawer as |drawer|}}
              {{#drawer.toolbar-spacer}}{{/drawer.toolbar-spacer}}
              {{#drawer.content}}
                {{#mdc-list-group as |group|}}
                  {{#mdc-list tagName='nav' dense=true as |list|}}
                    {{#list.item activated=true}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>Inbox{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i>Star{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>Sent Mail{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>Drafts{{/list.item}}
                  {{/mdc-list}}
                  {{group.divider}}
                  {{#mdc-list tagName='nav' dense=true as |list|}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">email</i>All Mail{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">delete</i>Trash{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">report</i>Spam{{/list.item}}
                  {{/mdc-list}}
                {{/mdc-list-group}}
              {{/drawer.content}}
            {{/mdc-drawer}}
            <div class="demo-content inner-flexible">
              <header class="mdc-toolbar mdc-toolbar--fixed fixed-relative">
                <div class="mdc-toolbar__row">
                  <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                    <span class="catalog-back">
                      <a href="#" class="mdc-toolbar__menu-icon"><i class="material-icons"></i></a>
                    </span>
                    <span class="mdc-toolbar__title catalog-title">Permanent Drawer Above Toolbar</span>
                  </section>
                </div>
              </header>
              <main class="demo-main">
                <h1>Permanent Drawer</h1>
                <p>It sits to the left of this content.</p>
              </main>
            </div>
          </div>
        {{/freestyle-usage}}
        {{#freestyle-usage "permanent-drawer-below"}}
          <div class="component-doc flexible">
            <header class="mdc-toolbar mdc-toolbar--fixed fixed-relative">
              <div class="mdc-toolbar__row">
                <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                  <span class="catalog-back">
                    <a href="#" class="mdc-toolbar__menu-icon"><i class="material-icons"></i></a>
                  </span>
                  <span class="mdc-toolbar__title catalog-title">Permanent Drawer Below Toolbar</span>
                </section>
              </div>
            </header>
            {{#mdc-drawer as |drawer|}}
              {{#drawer.toolbar-spacer}}{{/drawer.toolbar-spacer}}
              {{#drawer.content}}
                {{#mdc-list-group as |group|}}
                  {{#mdc-list tagName='nav' dense=true as |list|}}
                    {{#list.item activated=true}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>Inbox{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i>Star{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>Sent Mail{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>Drafts{{/list.item}}
                  {{/mdc-list}}
                  {{group.divider}}
                  {{#mdc-list tagName='nav' dense=true as |list|}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">email</i>All Mail{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">delete</i>Trash{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">report</i>Spam{{/list.item}}
                  {{/mdc-list}}
                {{/mdc-list-group}}
              {{/drawer.content}}
            {{/mdc-drawer}}
            <div class="demo-content inner-flexible">
              <main class="demo-main">
                <h1>Permanent Drawer</h1>
                <p>It sits to the left of this content.</p>
              </main>
            </div>
          </div>
        {{/freestyle-usage}}
      {{/section.subsection}}
      {{#section.subsection name="Persistent Drawers"}}
        {{#freestyle-usage "persistent-drawer"}}
          <div class="component-doc flexible">
            {{#mdc-drawer tagName='aside' persistent=true permanent=false open=isPersistentDrawerOpened as |drawer|}}
              {{#drawer.toolbar-spacer}}{{/drawer.toolbar-spacer}}
              {{#drawer.content}}
                {{#mdc-list-group as |group|}}
                  {{#mdc-list tagName='nav' dense=true as |list|}}
                    {{#list.item activated=true}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>Inbox{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i>Star{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>Sent Mail{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>Drafts{{/list.item}}
                  {{/mdc-list}}
                  {{group.divider}}
                  {{#mdc-list tagName='nav' dense=true as |list|}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">email</i>All Mail{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">delete</i>Trash{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">report</i>Spam{{/list.item}}
                  {{/mdc-list}}
                {{/mdc-list-group}}
              {{/drawer.content}}
            {{/mdc-drawer}}
            <div class="demo-content inner-flexible">
              <header class="mdc-toolbar mdc-elevation--z4">
                <div class="mdc-toolbar__row">
                  <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                    {{#if isPersistentDrawerOpened}}
                      <button class="demo-menu material-icons mdc-toolbar__menu-icon" {{action (mut isPersistentDrawerOpened) false}}>menu</button>
                    {{else}}
                      <button class="demo-menu material-icons mdc-toolbar__menu-icon" {{action (mut isPersistentDrawerOpened) true}}>menu</button>
                    {{/if}}
                    <span class="mdc-toolbar__title catalog-title">Persistent Drawer</span>
                  </section>
                </div>
              </header>
              <main class="demo-main">
                <h1>Persistent Drawer</h1>
                <p>Click the menu icon above to open and close the drawer. Is the Persistent Drawer is open? {{if isPersistentDrawerOpened "yes" "no"}}</p>
              </main>
            </div>
          </div>
        {{/freestyle-usage}}
      {{/section.subsection}}
      {{#section.subsection name="Temporary Drawers"}}
        {{#freestyle-usage "temporary-drawer"}}
          <div class="component-doc flexible">
            {{#mdc-drawer tagName='aside' temporary=true permanent=false open=isTemporaryDrawerOpened as |drawer|}}
              {{#drawer.toolbar-spacer}}{{/drawer.toolbar-spacer}}
              {{#drawer.content}}
                {{#mdc-list-group as |group|}}
                  {{#mdc-list tagName='nav' dense=true as |list|}}
                    {{#list.item activated=true}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">inbox</i>Inbox{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">star</i>Star{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">send</i>Sent Mail{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">drafts</i>Drafts{{/list.item}}
                  {{/mdc-list}}
                  {{group.divider}}
                  {{#mdc-list tagName='nav' dense=true as |list|}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">email</i>All Mail{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">delete</i>Trash{{/list.item}}
                    {{#list.item}}<i class="material-icons mdc-list-item__graphic" aria-hidden="true">report</i>Spam{{/list.item}}
                  {{/mdc-list}}
                {{/mdc-list-group}}
              {{/drawer.content}}
            {{/mdc-drawer}}
            <div class="demo-content inner-flexible">
              <header class="mdc-toolbar mdc-elevation--z4">
                <div class="mdc-toolbar__row">
                  <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
                    <button class="demo-menu material-icons mdc-toolbar__menu-icon" {{action (mut isTemporaryDrawerOpened) true}}>menu</button>
                    <span class="mdc-toolbar__title catalog-title">Temporary Drawer</span>
                  </section>
                </div>
              </header>
              <main class="demo-main">
                <h1>Temporary Drawer</h1>
                <p>Click the menu icon above to open and close the drawer. Is the Temporary Drawer is open? {{if isTemporaryDrawerOpened "yes" "no"}}</p>
              </main>
            </div>
          </div>
        {{/freestyle-usage}}
      {{/section.subsection}}
    {{/freestyle-section}}
    {{#freestyle-section name="Progress Bar" as |section|}}
      {{#freestyle-usage "progress-determinate" name="Progress Determinate"}}
        {{input value=myProgress min=0 max=1}}
        <div>Change this to any decimal value between 0 and 1, and the progress bar will update to show that amount.</div>
        <br>
        {{mdc-linear-progress progress=myProgress}}
      {{/freestyle-usage}}

      {{#freestyle-usage "progress-indeterminate" name="Progress Indeterminate"}}
        {{mdc-linear-progress indeterminate=true}}
      {{/freestyle-usage}}

      {{#freestyle-usage "progress-determinate-secondary" name="Progress Determinate Secondary"}}
        {{mdc-linear-progress secondary=true}}
      {{/freestyle-usage}}

    {{/freestyle-section}}
    {{#freestyle-section name="Tab Bar" as |section|}}
      {{#freestyle-usage "tab-actions1" name="Action-based tabs"}}
        {{#mdc-tab-bar links=false as |bar|}}
          {{#bar.tab active=isFirstActive become-active=(action (mut isFirstActive))}}
            Fruits
          {{/bar.tab}}
          {{#bar.tab active=isSecondActive become-active=(action (mut isSecondActive))}}
            Vegetables
          {{/bar.tab}}
          {{#bar.tab active=isThirdActive become-active=(action (mut isThirdActive))}}
            Meats
          {{/bar.tab}}
        {{/mdc-tab-bar}}

      {{/freestyle-usage}}
      {{#freestyle-usage "tab-icons-lbls" name="Tabs with icons and labels"}}
        {{#mdc-tab-bar icons="with-text" links=false as |bar|}}
          {{#bar.tab active=isFirstActiveAlt become-active=(action (mut isFirstActiveAlt)) as |tab|}}
            {{#tab.icon}}<i class="material-icons">people</i>{{/tab.icon}}
            {{#tab.icon-text}}People{{/tab.icon-text}}
          {{/bar.tab}}
          {{#bar.tab active=isSecondActiveAlt become-active=(action (mut isSecondActiveAlt)) as |tab|}}
            {{#tab.icon}}<i class="material-icons">credit_card</i>{{/tab.icon}}
            {{#tab.icon-text}}Money{{/tab.icon-text}}
          {{/bar.tab}}
          {{#bar.tab active=isThirdActiveAlt become-active=(action (mut isThirdActiveAlt)) as |tab|}}
            {{#tab.icon}}<i class="material-icons">shopping_cart</i>{{/tab.icon}}
            {{#tab.icon-text}}Things{{/tab.icon-text}}
          {{/bar.tab}}
        {{/mdc-tab-bar}}

      {{/freestyle-usage}}
      {{#freestyle-usage "tab-icons" name="Tabs with icons"}}
        {{#mdc-tab-bar icons="only" links=false as |bar|}}
          {{#bar.tab active=isFirstActiveAlt2 become-active=(action (mut isFirstActiveAlt2)) as |tab|}}
            {{#tab.icon}}<i class="material-icons">people</i>{{/tab.icon}}
          {{/bar.tab}}
          {{#bar.tab active=isSecondActiveAlt2 become-active=(action (mut isSecondActiveAlt2)) as |tab|}}
            {{#tab.icon}}<i class="material-icons">credit_card</i>{{/tab.icon}}
          {{/bar.tab}}
          {{#bar.tab active=isThirdActiveAlt2 become-active=(action (mut isThirdActiveAlt2)) as |tab|}}
            {{#tab.icon}}<i class="material-icons">shopping_cart</i>{{/tab.icon}}
          {{/bar.tab}}
        {{/mdc-tab-bar}}

      {{/freestyle-usage}}
      {{#freestyle-usage "tab-code" name="Tabs as <code>\{{link-to}}</code>"}}
        {{#mdc-tab-bar as |bar|}}
          {{#bar.tab "application"}}
            Index
          {{/bar.tab}}
          {{#bar.tab "one"}}
            One
          {{/bar.tab}}
          {{#bar.tab "two"}}
            Two
          {{/bar.tab}}
        {{/mdc-tab-bar}}

      {{/freestyle-usage}}
      {{#freestyle-usage "tab-scroll" name="Tab Bar Scrolling"}}
        {{#mdc-tab-bar-scroller as |scroller|}}
          {{#scroller.tab-bar links=false as |bar|}}
            {{#bar.tab active=isRedActive become-active=(action (mut isRedActive))}}
              Red
            {{/bar.tab}}
            {{#bar.tab active=isYellowActive become-active=(action (mut isYellowActive))}}
              Yellow
            {{/bar.tab}}
            {{#bar.tab active=isGreenActive become-active=(action (mut isGreenActive))}}
              Green
            {{/bar.tab}}
            {{#bar.tab active=isWhiteActive become-active=(action (mut isWhiteActive))}}
              White
            {{/bar.tab}}
            {{#bar.tab active=isBlueActive become-active=(action (mut isBlueActive))}}
              Blue
            {{/bar.tab}}
            {{#bar.tab active=isBlackActive become-active=(action (mut isBlackActive))}}
              Black
            {{/bar.tab}}
            {{#bar.tab active=isPurpleActive become-active=(action (mut isPurpleActive))}}
              Purple
            {{/bar.tab}}
            {{#bar.tab active=isOrangeActive become-active=(action (mut isOrangeActive))}}
              Orange
            {{/bar.tab}}
            {{#bar.tab active=isBrownActive become-active=(action (mut isBrownActive))}}
              Brown
            {{/bar.tab}}
          {{/scroller.tab-bar}}
        {{/mdc-tab-bar-scroller}}

      {{/freestyle-usage}}
      {{#freestyle-usage "tab-dark" name="Dark-themed tabs"}}
        <div style="background:black">
          {{#mdc-tab-bar dark=true links=false as |bar|}}
            {{#bar.tab active=isFirstActive become-active=(action (mut isFirstActive))}}
              Fruits
            {{/bar.tab}}
            {{#bar.tab active=isSecondActive become-active=(action (mut isSecondActive))}}
              Vegetables
            {{/bar.tab}}
            {{#bar.tab active=isThirdActive become-active=(action (mut isThirdActive))}}
              Meats
            {{/bar.tab}}
          {{/mdc-tab-bar}}
        </div>
      {{/freestyle-usage}}
    {{/freestyle-section}}
    {{#freestyle-section name="Switch" as |section|}}
      {{#freestyle-usage "switch-active" name="Active Switch"}}
        {{mdc-switch checked=isFirstSwitchOn onchange=(action (mut isFirstSwitchOn))}}
        <button {{action (toggle "isFirstSwitchOn" this)}}>Press to Toggle Switch</button>
      {{/freestyle-usage}}
      {{#freestyle-usage "switch-toggle" name="Switch with Toggle Label"}}
        <label>
          {{mdc-switch checked=isSecondSwitchOn onchange=(action (mut isSecondSwitchOn))}}
          On/Off
        </label>
      {{/freestyle-usage}}
      {{#freestyle-usage "switch-disabled" name="Disabled Switch"}}
        {{mdc-switch disabled=true}}

      {{/freestyle-usage}}
      {{#freestyle-usage "tab-bubbles" name="Block Action Bubbling"}}
        <div class="test-action-bubbling" {{action "alert" "Stop the bubbling"}}>
          {{mdc-switch bubbles=false}}
          <div>Switch event propagation is disableable: click outside of the checkbox to test</div>
        </div>
      {{/freestyle-usage}}
    {{/freestyle-section}}
    {{#freestyle-section name="Toolbar" as |section|}}
      {{#freestyle-usage "toolbar-basic" name="Basic usage"}}
        {{#mdc-toolbar as |toolbar|}}
          {{#toolbar.row as |row|}}
            {{#row.section align="start" as |section|}}
              {{#section.title}}Toolbar{{/section.title}}
            {{/row.section}}
          {{/toolbar.row}}
        {{/mdc-toolbar}}
      {{/freestyle-usage}}
    {{/freestyle-section}}
  {{/freestyle-guide}}
{{/if}}
{{outlet}}
{{#mdc-button class="toggle-demo-visibility" onclick=(action (toggle "isDemoVisible" this))}}Toggle visibility{{/mdc-button}}
